.top-bar .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: fit-content;
    flex-grow: 10;
    color: var(--text_primary);
}

.top-bar .uploads {
    flex-grow: 1;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: fit-content;
}

.top-bar .uploads label.selected {
    background: var(--secondary_background) !important;
    border: 2px solid var(--primary_accent) !important;
    color: var(--primary_accent) !important;
}