.page {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top {
    background: var(--secondary_background);
    padding: 20px;
    border-radius: var(--border_radius);
}

.stores {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.store {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 200px 50px;
    gap: 0 20px;
    background: var(--secondary_background);
    border-radius: var(--border_radius);
    padding: 10px;
    cursor: pointer;
    flex-grow: 1;
}

.store .header {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.store .header img {
    height: 100%;
    width: 100%;
    border-radius: var(--border_radius);
}

.store .content {
    grid-column: 2;
    grid-row: 1;
}

.store .title {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.store .by {
    margin: 5px 0 0 0;
    padding: 0;
}

.store .action {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: end;
}
