@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.page {
    padding: 0;
}

.header {
    width: calc( 100% - 60px );
    border-radius: var(--border_radius);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

.left {
    width: 250px;
    height: 250px;
}

.left img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.right {
    flex-grow: 1;
    padding: 20px;
    color: var(--text_primary);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}
.right .title {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0;
}

.right .bottom {
    width: auto;
}

.body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.content {
    width: calc(100% - 390px);
    padding: 20px;
    background: var(--secondary_background);
    margin: 10px;
    border-radius: var(--border_radius);
}

.side {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 250px;
    background: var(--secondary_background);
    border-radius: var(--border_radius);
    margin: 10px;
}

.side > * {
    margin: 0;
    padding: 0;
    width: 100%;
}


code {
    background: var(--primary_background);
    padding: 2px 10px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 900px) {

    .content {
        width: 100%;
    }

    .side {
        gap: 30px;
        width: 100%;
        justify-content: start;
    }
    .side > * {
        width: auto;
    }
}
