.page {
    display: flex;
    padding: 0;
    gap: 10px;
    flex-wrap: wrap;
}

.menus {
    background: var(--secondary_background);
    width: 250px;
    height: 100%;
}

.items {
    width: calc(100% - 280px);
    max-height: 100%;
    overflow: auto;
}

.item {
    background: var(--secondary_background);
    border-radius: var(--border_radius);
    padding: 10px;
    margin: 10px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.item .identifier {
    width: 100%;
}

.menus .menu {
    width: calc(100% - 40px);
    border-radius: var(--border_radius);
    padding: 10px;
    margin: 10px;
    background: var(--primary_background);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu.active {
    border: 2px solid #4CAF50;
    background-color: #f9f9f9;
}

.action {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}