
*_cached.html

.vscode/
.vs

.VSCodeCounter/

/awt-data/temp/*
/awt-data/uploads/image
/awt-data/uploads/audio
/awt-data/uploads/documents
/awt-data/uploads/video
/awt-src/classes/database/databaseConfig.class.php