<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI} !^/awt_data/media [NC]
    RewriteCond %{REQUEST_URI} !^/awt_packages/ [NC]
    RewriteCond %{REQUEST_URI} !^/awt_src/vendor/ [NC]

    RewriteCond %{REQUEST_URI} !^/index\.php$ [NC]
    RewriteRule ^(.*)$ /index.php [L]
</IfModule>
