.page {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.customize
{
    margin: 30px;
}

.customize-theme,
.customized-page
{
    padding: 10px 20px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.customize-theme .customize-wrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.customize-theme .customize-wrapper .select {
    height: 33px !important;
}

.customized-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.customized-list h3 {
    text-align: center;
}

.customized-page {
    justify-content: space-between;
}
