.page {
    display: flex;
    gap: 1%;
    margin: 0;
    padding: 10px;
}

.media-files {
    width: 80%;
}

.media-files form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    height: 32px;
    width: 100%;
    background: #fff;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
}

.media-files form p {
    width: fit-content;
    text-align: center;
    margin: 0;
}

.media-files .group-actions {
    margin: 10px 0;
    background: #fff;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    width: 100%;
}

.media-files .media-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 88%;
    width: 97.9%;
    overflow-y: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.media-files .media-list .media{
    min-height: 260px;
    max-height: 265px;
    overflow: hidden;
}

.media-files .media-list .media .file{
    width: 260px;
    height: 260px;
    border-radius: 5px;
    overflow: hidden;
}

.media-files .media-list .media .crop-img {
    position: relative;
    width: fit-content !important;
    height: fit-content !important;
    padding: 7px !important;
    top: -87%;
    right: 87%;
}


.media-files .media-list .media input{
    width: 10px;
    height: 10px;
}

.media-files .media-list .media * {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.albums {
    background: #fff;
    padding: 20px 5px;
    border-radius: 5px;
}

.albums .create-album {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 32px;
}

.albums .create-album input {
    max-width: 170px;
}

.albums-list {
    display: grid;
    gap: 10px;
}

.albums-list .album {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
    height: 32px;
}

.albums-list .album button {
    height: 32px;
    margin: 0 5px;
}

.selected {
    filter: brightness(1.1) contrast(0.5);
}

.add-to-album-list {
    position: absolute;
    z-index: 3;
    background: #fff;
    right: 50%;
    top: 20;
    border-radius: 5px;
    width: 320px;
    padding: 10px;
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
}


.add-to-album-list .album {
    display: flex;
    height: 42px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
