.page  {
    padding: 10px;
    margin: 10px 0;
}

.table {
    margin: 10px 0;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;  
    width: auto;
}

.table-row i {
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
    justify-self: center;
}

.table-row.modify i {
    color: var(--primary-color);
}

.table-row {
    display: grid;
    grid-template-columns: repeat(6, 16%);
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.table-row.modify {
    row-gap: 20px;
}

.table-header {
    text-align: center;
}

.data-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.table-cell.actions-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.table-cell.actions-cell a{
    text-decoration: none;
    color: #fff;
    background: var(--primary-color);
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 13px;
}

.table .input,
.table .select
{
    width: fit-content;
    align-self: center;
    justify-self: center;
}

.table .select {
    height: fit-content;
    padding: 5px 10px;
}

.table textarea.input {
    min-height: 50px;
    width: 100%;
    resize: vertical;
}