body {
    background: url('../../awt-data/uploads/milad-fakurian-PGdW_bHDbpI-unsplash.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.section {
    display: block;
    width: 400px;
    margin: auto auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    transform: translateY(-40%);
}

.section input {
    margin: 10px 0;
}