
.pageSection {
    width: 90% !important;
    overflow-y: hidden;
}

.editor-tools {
    overflow-y: auto;
}

.stage {
    height: 93.9% !important;
}

.category-container {
    display: none;
}

.block:hover {
    filter: brightness(1) !important;
}