.page {
    margin: 0;
    padding: 10px;
}

.add-themes {
    width: fit-content;
    margin: 40px 0 0 0;
    height: fit-content;
    background: #fff;
    border-radius: 5px;
}

.upload {
    max-width: 650px;
    margin: 10px 0;
    padding: 10px;
    position: absolute;
    background: #fff;
    z-index: 2;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 47px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 47px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 47px 0px rgba(0, 0, 0, 0.75);
    left: 50%;
    transform: translate(-50%);
}

.upload-header {
    color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.upload-header h3 {
    margin: auto;
    align-self: center;
    padding: 10px 0;
}

.upload-header button {
    border: none;
    background: none;
    color: #FF0800;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.installer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.installer-container form label {
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    background: #00563B;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s ease all;
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
    align-items: center;
}

.installer-container form label:hover {
    filter: brightness(1.2);
}

.installer-container form label img {
    margin: 0 auto;
    height: 50px;
    filter: var(--icon-filter);
}

.installer-jquery-response {
    display: grid;
    grid-template-columns: 300px auto;
}

.installer-jquery-response .capitalize {
    text-transform: capitalize;
}

.upload #action {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}

.upload #action button {
    padding: 10px 30px;
    color: var(--text-color);
    cursor: pointer;
}

.themesList {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 320px;
    grid-auto-flow: row;
    gap: 30px;
}

.card {
    width: 300px;
    height: 320px;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card input[type=checkbox]:enabled {
    cursor: pointer;
}

.card img {
    object-fit: cover;
    height: 150px !important;
    border-radius: 5px;
}

.card p {
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card .button {
    display: none;
    position: absolute;
    margin-left: 262px;
    margin-top: -5px;
}


.card:hover .button {
    display: block;
}