body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--theme_secondary_background);
}

h1, h2, h3, button {
    font-family: var(--theme_font_family);
    font-weight: 600;
}

p, a {
    font-family: var(--theme_font_family);
    font-weight: 300;
}

section:nth-child(0) {
    margin: 90px 0 0 0;
}