.main-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background: var(--primary-color-variant);
    top: 0;
    z-index: 10;
    position: fixed;
    transition: 0.5s ease all;
}

.main-navigation .logo-wrapper {
    height: 100%;
    width: fit-content;
    margin: auto 0;
    display: flex;
    align-items: center;
    color: var(--text-color-variant);
}

.main-navigation .logo-wrapper img {
    height: 100%;
}

.main-navigation .logo-wrapper h2 {
    margin: 0 20px;
    color: var(--text-color);
}

.main-navigation ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin: 0 20px;
}

.main-navigation li a{
    font-size: 20px;
    color: var(--text-color);
    transition: 0.3s ease all;
    text-decoration: none;
}

.main-navigation li:hover a{
    scale: 1.1;
    color: var(--text-color-variant);
}

.hamburger-menu {
    display: none;
}

@media(max-width: 450px) {
    .main-navigation {
        height: 60px;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        width: 60px;
        align-self: center;
    }
    
    .main-navigation .logo-wrapper {
        height: 40px;
        margin: 0;
        justify-content: flex-end;
        width: 50%;
    }

    .hamburger-menu span {
        display: block;
        width: 40px;
        height: 2px;
        margin: 8px;
        background-color: var(--primary-color);
        transition: 0.5s;
    }

    .hamburger-menu.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 0px);
        width: 20px;
    }
    
    .hamburger-menu.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, 0px);
        width: 20px;
    }

    .main-navigation ul {
        background: var(--primary-color-variant);
        width: 100vw;
        left: -100vw;
        position: fixed;
        top: 60px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
        padding: 0;
        transition: 0.3s ease-in-out;
    }

    .main-navigation ul.active {
        margin: 0;
        left: 0;
        width: 100%;
    }

    .main-navigation li {
        width: 100%;
        text-align: center;
        font-size: 30px;
        margin: 0;
        padding: 0;
    }


}